<table style="width:100%">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
        <td class="title">Cute</td>
        <td>
          <img *ngIf="1 > categories.cute" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.cute >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.cute" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.cute >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.cute" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.cute >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.cute" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.cute >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.cute" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.cute == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Annoying</td>
        <td>
          <img *ngIf="1 > categories.annoying" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.annoying >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.annoying" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.annoying >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.annoying" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.annoying >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.annoying" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.annoying >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.annoying" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.annoying == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Sleepy</td>
        <td>
          <img *ngIf="1 > categories.sleepy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.sleepy >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.sleepy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.sleepy >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.sleepy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.sleepy >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.sleepy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.sleepy >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.sleepy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.sleepy == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Friendly</td>
        <td>
          <img *ngIf="1 > categories.friendly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.friendly >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.friendly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.friendly >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.friendly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.friendly >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.friendly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.friendly >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.friendly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.friendly == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Silly</td>
        <td>
          <img *ngIf="1 > categories.silly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.silly >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.silly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.silly >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.silly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.silly >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.silly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.silly >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.silly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.silly == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Grumpy</td>
        <td>
          <img *ngIf="1 > categories.grumpy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.grumpy >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.grumpy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.grumpy >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.grumpy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.grumpy >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.grumpy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.grumpy >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.grumpy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.grumpy == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Noisy</td>
        <td>
          <img *ngIf="1 > categories.noisy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.noisy >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.noisy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.noisy >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.noisy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.noisy >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.noisy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.noisy >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.noisy" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.noisy == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
    <tr>
        <td class="title">Smelly</td>
        <td>
          <img *ngIf="1 > categories.smelly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.smelly >= 1" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="2 > categories.smelly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.smelly >= 2" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="3 > categories.smelly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.smelly >= 3" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="4 > categories.smelly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.smelly >= 4" src="assets/images/ratings/paw_fill.png">
          <img *ngIf="5 > categories.smelly" src="assets/images/ratings/paw_outline.png">
          <img *ngIf="categories.smelly == 5" src="assets/images/ratings/paw_fill.png">
        </td>
    </tr>
  </table>