.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

::ng-deep{
    .cdk-overlay-pane{
        overflow-y: auto !important;
        height: 700px  !important;
    }
}
    