@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body, app-root {
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}