<div fxLayout="row" fxLayoutAlign="space-between center">
  <img *ngIf="!dogTrophies.cute" src="assets/images/trophies/cute_trophy_empty.png" title="Cute">
  <img *ngIf="dogTrophies.cute" src="assets/images/trophies/cute_trophy.png" title="Cute">
  <img *ngIf="!dogTrophies.annoying" src="assets/images/trophies/annoying_trophy_empty.png" title="Annoying">
  <img *ngIf="dogTrophies.annoying" src="assets/images/trophies/annoying_trophy.png" title="Annoying">
  <img *ngIf="!dogTrophies.sleepy" src="assets/images/trophies/sleepy_trophy_empty.png" title="Sleepy">
  <img *ngIf="dogTrophies.sleepy" src="assets/images/trophies/sleepy_trophy.png" title="Sleepy">
  <img *ngIf="!dogTrophies.friendly" src="assets/images/trophies/friendly_trophy_empty.png" title="Friendly">
  <img *ngIf="dogTrophies.friendly" src="assets/images/trophies/friendly_trophy.png" title="Friendly">
  <img *ngIf="!dogTrophies.silly" src="assets/images/trophies/silly_trophy_empty.png" title="Silly">
  <img *ngIf="dogTrophies.silly" src="assets/images/trophies/silly_trophy.png" title="Silly">
  <img *ngIf="!dogTrophies.grumpy" src="assets/images/trophies/grumpy_trophy_empty.png" title="Grumpy">
  <img *ngIf="dogTrophies.grumpy" src="assets/images/trophies/grumpy_trophy.png" title="Grumpy">
  <img *ngIf="!dogTrophies.noisy" src="assets/images/trophies/noisy_trophy_empty.png" title="Noisy">
  <img *ngIf="dogTrophies.noisy" src="assets/images/trophies/noisy_trophy.png" title="Noisy">
  <img *ngIf="!dogTrophies.smelly" src="assets/images/trophies/smelly_trophy_empty.png" title="Smelly">
  <img *ngIf="dogTrophies.smelly" src="assets/images/trophies/smelly_trophy.png" title="Smelly">
</div>
