.image-cropper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    //clear: both;
    // float: left;
    // display: block;
}

.rounded {
    margin: 0 auto;
    height: 100%;
    width: auto;
    z-index: -1;
}

a {
    display: contents;
}

.dogs-menu {
    overflow: auto;
}