.image-cropper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 10px 22px 10px 22px;
}

.rounded {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

a {
    display: contents;
}

.dogs-menu {
    overflow: auto;
}