.image-cropper {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

.rounded {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

div.image-cropper {
    position: relative;
    top: 0;
    opacity: 1;
    transition: 1s opacity; 
    cursor:pointer;
}

.active {
    opacity: 1;
}

.crown{
    position: absolute;
    top: -3px;
    margin-left: 132px;
    width: 88px;
    z-index: 100;
}

.slider{
    animation: moveslider 15s linear infinite;
    position: absolute;
    margin-left: 0;
    top: 0;
}

@keyframes moveslider {
    0% {margin-left: 0px;}
    25% {margin-left:350px;}
    50% {margin-left: 0px;}
    75% {margin-left:-350px;}
	100% {margin-left: 0px;}
}

.category{
    overflow: hidden;
    position: absolute;  
    width: 200px;
    bottom: 0;  
}

h3 {
    left: 0; 
    width: 100%;
    color: white; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    text-align: center;
}

a {
    display: contents;
}

