<div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
    <div class="slider" style="width: 100%;height: 200px;" fxLayout="row" fxLayoutAlign="center">   
        <div *ngFor="let topRated of topRatedDogs">
            <img src="../../assets/images/crown.png" class="crown">
            <div class="image-cropper" fxLayoutAlign="center" fxLayoutGap> 
				<img [src]="topRated.dog.images[0]" class="rounded" />
                <div class="category" fxLayoutAlign="center">
                    <h3>{{topRated.category}}</h3>
                </div>
            </div>
        </div>  
    </div>
</div>